# House Price Prediction

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'data/Bengaluru_House_Data.csv'

data = pd.read_csv(path)

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12712 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
for column in data.columns:
    print(data[column].value_counts())
    print('\n')

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64


availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
16-Oct               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64


location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64


size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64


society
GrrvaGr    80
PrarePa    76
Prtates    59
Sryalan    59
GMown E    56
           ..
SNadeAr     1
DSellil     1
Shensit     1
VKvenas     1
Vemes H     1
Name: count, Length: 2688, dtype: int64


total_sqft
1200           843
1100           221
1500           205
2400           196
600            180
              ...
2920             1
5665.84          1
1369             1
7150             1
1200 - 1470      1
Name: count, Length: 2117, dtype: int64


bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
11.0       3
13.0       3
16.0       2
27.0       1
14.0       1
40.0       1
15.0       1
18.0       1
Name: count, dtype: int64


balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
4.0       1
Name: count, dtype: int64


price
75.00    310
65.00    302
55.00    275
60.00    270
45.00    240
        ...
43.04      1
61.11      1
46.56      1
42.54      1
47.35      1
Name: count, Length: 1994, dtype: int64

In [7]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          608
price              0
dtype: int64

In [8]:
data.drop(columns=['area_type', 'availability', 'society', 'balcony'], inplace=True)

In [9]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.595657
std        1.341458    149.069904
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [11]:
data['location'] = data['location'].fillna('Sarjapur Road')

In [12]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [13]:
data['size'] = data['size'].fillna('2 BHK')

In [14]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [16]:
data['bhk'] = data['size'].apply(lambda x: int(x.split(' ')[0])).astype(int)

In [17]:
data[data.bhk > 10]

                            location        size total_sqft  bath  price  bhk
459                     1 Giri Nagar      11 BHK       5000   9.0  360.0   11
1718       2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
1768              1 Ramamurthy Nagar  11 Bedroom       1200  11.0  170.0   11
3379                  1Hanuman Nagar      19 BHK       2000  16.0  490.0   19
3609   Koramangala Industrial Layout      16 BHK      10000  16.0  550.0   16
3853               1 Annasandrapalya  11 Bedroom       1200   6.0  150.0   11
4684                     Munnekollal  43 Bedroom       2400  40.0  660.0   43
4916                   1Channasandra      14 BHK       1250  15.0  125.0   14
6533                     Mysore Road  12 Bedroom       2232   6.0  300.0   12
7979                   1 Immadihalli      11 BHK       6000  12.0  150.0   11
9935                   1Hoysalanagar      13 BHK       5425  13.0  275.0   13
11559                  1Kasavanhalli  18 Bedroom       1200  18.0  200.0   18

In [18]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1])) / 2
    try:
        return float(x)
    except:
        return None

In [19]:
data['total_sqft'] = data['total_sqft'].apply(convert_sqft_to_num)

In [20]:
data.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

Price Per Square feet

In [21]:
data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']

In [22]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.595657      2.802778    7.908338e+03
std     1238.405258      1.338754    149.069904      1.294496    1.064297e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [23]:
data['location'] = data['location'].apply(lambda x: x.strip())
location_stats = data['location'].value_counts()

In [24]:
location_stats

location
Whitefield                541
Sarjapur  Road            399
Electronic City           304
Kanakpura Road            273
Thanisandra               237
                         ...
Xavier Layout               1
Ramanagara Channapatna      1
Maheswari Nagar             1
Hsr layout sector3          1
Thyagraj Nagar              1
Name: count, Length: 1295, dtype: int64

In [25]:
location_stats_less_than_20 = location_stats[location_stats < 20]

In [26]:
location_stats_less_than_20

location
Pai Layout                19
Kaggalipura               19
OMBR Layout               19
HRBR Layout               19
Kalyan nagar              19
                          ..
Xavier Layout              1
Ramanagara Channapatna     1
Maheswari Nagar            1
Hsr layout sector3         1
Thyagraj Nagar             1
Name: count, Length: 1147, dtype: int64

In [28]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_stats_less_than_20 else x)

Outlier detection and removal

In [29]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.595657      2.802778    7.908338e+03
std     1238.405258      1.338754    149.069904      1.294496    1.064297e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [30]:
(data['total_sqft'] / data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [31]:
data = data[(data['total_sqft'] / data['bhk']) >= 300]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.414324      2.650838     6304.866118
std     1261.271296      1.077938    152.179868      0.976678     4164.445237
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [32]:
data['price_per_sqft'].describe()

count     12530.000000
mean       6304.866118
std        4164.445237
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [33]:
def remove_sqft_outliers(df: pd.DataFrame):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby("location"):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        
        reduced_df = subdf[
            (subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))
        ]
        df_out = pd.concat([df_out, reduced_df], ignore_index=True)
    return df_out

data = remove_sqft_outliers(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10477.000000  10477.000000  10477.000000  10477.000000    10477.000000
mean    1506.109670      2.474659     89.541668      2.576310     5600.211683
std      877.554512      0.983955     79.361181      0.903212     2105.422948
min      300.000000      1.000000     10.000000      1.000000     1379.310345
25%     1106.000000      2.000000     48.950000      2.000000     4230.769231
50%     1285.000000      2.000000     67.000000      2.000000     5166.666667
75%     1650.000000      3.000000    100.000000      3.000000     6410.256410
max    30400.000000     16.000000   2200.000000     16.000000    21875.000000

In [34]:
def remove_bhk_outliers(df: pd.DataFrame):
    exclude_indices = np.array([])
    for _, location_df in df.groupby("location"):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby("bhk"):
            bhk_stats[bhk] = {
                "mean": np.mean(bhk_df.price_per_sqft),
                "std": np.std(bhk_df.price_per_sqft),
                "count": bhk_df.shape[0],
            }
            
        for bhk, bhk_df in location_df.groupby("bhk"):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats["count"] > 5:
                exclude_indices = np.append(
                    exclude_indices,
                    bhk_df[bhk_df.price_per_sqft < stats["mean"]].index.values,
                )
    return df.drop(exclude_indices, axis="index")

data = remove_bhk_outliers(data)

In [35]:
data.shape

(7025, 7)

In [36]:
data

,location,size,total_sqft,bath,price,bhk,price_per_sqft
1,1st Phase JP Nagar,3 BHK,1875.0,3.0,167.0,3,8906.666667
2,1st Phase JP Nagar,5 Bedroom,1500.0,5.0,85.0,5,5666.666667
3,1st Phase JP Nagar,3 BHK,2065.0,4.0,210.0,3,10169.491525
5,1st Phase JP Nagar,3 BHK,2059.0,3.0,225.0,3,10927.634774
6,1st Phase JP Nagar,2 BHK,1394.0,2.0,100.0,2,7173.601148
...,...,...,...,...,...,...,...
10469,other,2 BHK,1353.0,2.0,110.0,2,8130.081301
10470,other,1 Bedroom,812.0,1.0,26.0,1,3201.970443
10473,other,2 BHK,1200.0,2.0,140.0,2,11666.666667
10474,other,2 BHK,1015.0,2.0,60.0,2,5911.330049
10476,other,3 BHK,1805.0,3.0,134.0,3,7423.822715

In [37]:
data = data.drop(columns=['size', 'price_per_sqft'])
file_path = 'data/Bengaluru_House_Data_Cleaned.csv'
data.to_csv(file_path, index=False)

In [38]:
X = data.drop(columns=['price'])
y = data['price']

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [41]:
X_train.shape, X_test.shape

((5620, 4), (1405, 4))

In [42]:
column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ["location"]), remainder="passthrough"
)

In [43]:
scaler = StandardScaler()

In [44]:
lr = LinearRegression(fit_intercept=True)

In [45]:
pipe = make_pipeline(column_trans, scaler, lr)

In [46]:
pipe.fit(X_train, y_train)

d:\Data Science Projects\.venv\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [47]:
y_pred = pipe.predict(X_test)

In [48]:
r2_score(y_test, y_pred)

0.8090903133539524

In [49]:
import pickle

In [50]:
pickle.dump(pipe, open('model.pkl', 'wb'))